{% load static %}
{% load i18n   %}


 
<!DOCTYPE html>
<html>
    <!--boot startap css-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!---adding boot startr odp d to here -->
    <link rel="stylesheet"  href="{%  static  'stuffs/css/headerandfooter.css'  %}">
    
    
<head>

    <title> {% trans "Store" %} </title>

    
</head>
<body>
    <!--header-->

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    		<!--<div class="container-fluid px-md-5">
			
				</div>
				<div class="col-md-4 d-flex">
					<div class="social-media">
		    		<p class="mb-0 d-flex">
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
		    		</p>
	        </div>
				</div>
			</div>
		</div>-->
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	


	        	<!--statrt of header items -->
            <li class="nav-item active"><a href="{% url  'mainapp:home' %}" class="nav-link">{% trans "Home" %}</a></li>
            
            

            
            <!--end of header items-->




              {% if user.is_authenticated%}
              <li class="nav-item active"><a href="{% url  'mainapp:home' %}" class="nav-link">{% trans "my urls" %}</a></li>
              <li class="nav-item active"><a href="{% url  'mainapp:add_url' %}" class="nav-link">{% trans "add urls" %}</a></li>
              <li class="nav-item"><a href="/logout" style="color: red;" class="nav-link">{% trans "logout" %}</a></li>
                {% else %}
                <li class="nav-item active"><a href="{% url  'register' %}" class="nav-link">{% trans "register" %}</a></li>`
                <li class="nav-item"><a href="/login" style="color: red;" class="nav-link">{% trans "login" %}</a></li>
                {% endif %}

	        	
	        	

            {% if user.is_authenticated%}
	          <li class="nav-item"><a href="" style="color: green;" class="nav-link">{% trans "Hello" %},{{ user.username }}  </a> </li> 

            {% if user.profile.image.url %}
            <img class="rounded-circle account-img" width="50" height="50" src="{{ user.profile.image.url }}">
            {% else %}
            <img class="rounded-circle account-img" width="50" height="50" src="{% static 'stuffs/img/default.png' %}" alt="Upvote">
            {% endif %}

            {% endif %}
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    <script src=" {%  static  'stuffs/js/bootstrap.min.js'  %} "></script>
     <script src="{%  static  'stuffs/js/jquery.min.js'  %}"></script>
     <script src="{%  static  'stuffs/js/main.js'  %}"></script>
     <script src="{%  static  'stuffs/js/popper.js'  %}"></script>
    <!--headre-->
<!--msg-->

    {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
         
          
<!--msg-->
<!----------------container-------------------->
<div >
    <dev calss='container-s'>
    {% block content%}{%endblock%}
    </dev>
  </div>
<!----------------container-------------------->

<!-- Site footer -->
<div  >
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>{% trans "About" %}</h6>
          <p class="text-justify">{% trans "it's just a simple site ti manage store" %}</p>
        </div>

        <h6 align="center" >{% trans "project source" %}<a href="https://github.com/maorojloo/Django-CRUD" target="blank">https://github.com/maorojloo/Django-CRUD</a></h6><br/>
        
        <div class="col-xs-6 col-md-3">
          <!--
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul>
        </div>
        -->
        <!--
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
        -->
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">{% trans "Copyright" %} &copy; {% trans "2022" %} 
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--bootstarp -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>