/********************************************************************************************/
.datainhome  {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid #5383d3;
    padding: 50px;
    margin: 20px;
    left: 50%;
  }
  .content-section {
    background: #53c1d38f;
    padding: 1% 15%;
    border: 10px solid #ddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }