{% extends "base.html" %}
{% load crispy_forms_tags %}
{%  load static %}

{% block content %}
<br/>
<center>
<div class="card text-white bg-secondary mb-3" style="max-width: 30rem;">
    <div class="card-header">hello {{ user.username }} <img class="rounded-circle account-img" width="50" height="50" src="{{ user.profile.image.url }}"> </div>
    <div class="card-body">
      <h5 class="card-title">email : {{ user.email }}</h5>
      <h5 class="card-title">First name : {{ user.first_name }}</h5>
      <h5 class="card-title">Last name : {{ user.last_name }}</h5>
      <h5 class="card-title">Last login : {{ user.last_login }}</h5>
      <h5 class="card-title">Date joined : {{ user.date_joined }}</h5>
      

    </div>
  </div>
</center>

{% endblock content %}